build/
output/
time/
_build/
_generate/
*.so
*.py[cod]
*.egg-info
*.log
__pycache__/
*.html
*.svg
*.csv
*.npy
case_*/
nohup.out
img/
*.pgf
*.png
.clangd
*/.clangd
*.dat
*.json
*.dae
*.zip
post.out
cases/*/
!cases/surfers/
!cases/adaptative_surfers/
!cases/spherical_surfers/
!cases/comparison_navigators/
!cases/comparison_trackers/
!cases/tracers/
!cases/surfers_in_channel_flow
!cases/adaptive_surfers_in_channel_flow
!cases/reverse/
